html {
  margin: 0px;
  background-color: #BBB5C6;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: -100px;
  transform: rotate(60deg);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.row div{
  transform: rotate(330deg);
}

.hexagon {
  height: 68px;
  width: auto;
  object-fit: contain;
}

.hexagon img {
  max-height: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/*top moves rows left and right becuase its rotated */

#row1, #row2 {
  transform: rotate(60deg);
  position: relative;
  bottom: 40px;
}

#row3, #row4 {
  position: relative;
  top: 800px;
}

#row5 div, #row6 div {
  transform: rotate(90deg);
}

#row5, #row6 {
  position: relative;
  top: 960px;
}


#title {
  position: absolute;
  left: 47%;
  top: 8%;
  width: 500px;
  font-size: 70px;
  color: #252328;
  text-align: center;
  text-shadow: 2px 2px #888789;
}
