html {
  margin: 0px;
  background-color: #ABD1B5;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  cursor: default;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -22px;
  left: -24px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row div{
  transform: rotate(90deg);
}

.hexagon {
  height: 36px;
  width: auto;
  object-fit: contain;
  z-index: 3
}

.hexagon img {
  max-height: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#title {
  position: absolute;
  left: 18%;
  top: 70%;
  font-size: 38px;
  color: #ABD1B5;
  z-index: 2;
  text-decoration: none;
}

#title:visited {
  text-decoration: none;
}
