html {
  margin: 0px;
  background-color: #DED7DA;
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  cursor: default;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -22px;
  left: -28px;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
}

.row div{
  transform: rotate(90deg);
}

.hexagon {
  height: 48px;
  width: auto;
  object-fit: contain;
  opacity: 0;
}

.hexagon img {
  max-height: 100%;
  padding: 3.5px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18%;
  z-index: 3;
  pointer-events: none;
}

#title {
  font-size: 122px;
  color: #414141;
  pointer-events: none;
}

#choices, #about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 52%;
  left: 37%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: all;
  line-height: 2;
  height: 180px;
  pointer-events: none;
}

#about {
  left: 70%;
}

.text a {
  font-size: 42px;
  color: #414141;
  text-decoration: none;
  z-index: 2;
  pointer-events: all;
}


.text a:visited {
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

.text a{
  height: 0px;
}